USE [GameCharacters]
GO
/****** Object:  Table [dbo].[Characters]    Script Date: 02.02.2023 23:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Characters](
	[id_characters] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[FK_Weapon] [int] NULL,
	[FK_Power] [int] NULL,
	[FK_Lvl] [int] NULL,
	[FK_Status] [int] NULL,
	[FK_Type] [int] NULL,
 CONSTRAINT [PK_Characters] PRIMARY KEY CLUSTERED 
(
	[id_characters] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LevelNPC]    Script Date: 02.02.2023 23:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LevelNPC](
	[id_level_NPC] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LevelNPC] PRIMARY KEY CLUSTERED 
(
	[id_level_NPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PowerCharacters]    Script Date: 02.02.2023 23:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PowerCharacters](
	[id_power_characters] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_PowerCharacters] PRIMARY KEY CLUSTERED 
(
	[id_power_characters] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusCharacters]    Script Date: 02.02.2023 23:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusCharacters](
	[id_status_characters] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_StatusCharacters] PRIMARY KEY CLUSTERED 
(
	[id_status_characters] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeCharacters]    Script Date: 02.02.2023 23:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeCharacters](
	[id_type_characters] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeCharacters] PRIMARY KEY CLUSTERED 
(
	[id_type_characters] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeWeapon]    Script Date: 02.02.2023 23:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeWeapon](
	[id_type_weapon] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeWeapon] PRIMARY KEY CLUSTERED 
(
	[id_type_weapon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weapon]    Script Date: 02.02.2023 23:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weapon](
	[id_weapon] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Power] [int] NULL,
	[PassiveSkill] [nvarchar](50) NULL,
	[FK_Type] [int] NULL,
 CONSTRAINT [PK_Weapon] PRIMARY KEY CLUSTERED 
(
	[id_weapon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Characters] ON 

INSERT [dbo].[Characters] ([id_characters], [Name], [FK_Weapon], [FK_Power], [FK_Lvl], [FK_Status], [FK_Type]) VALUES (1, N'Агнесс', 1, 1, NULL, 1, 1)
INSERT [dbo].[Characters] ([id_characters], [Name], [FK_Weapon], [FK_Power], [FK_Lvl], [FK_Status], [FK_Type]) VALUES (2, N'Ванесса', 2, 2, NULL, 2, 1)
INSERT [dbo].[Characters] ([id_characters], [Name], [FK_Weapon], [FK_Power], [FK_Lvl], [FK_Status], [FK_Type]) VALUES (3, N'Эллиада', 3, 3, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Characters] OFF
GO
SET IDENTITY_INSERT [dbo].[LevelNPC] ON 

INSERT [dbo].[LevelNPC] ([id_level_NPC], [Title]) VALUES (1, N'Лёгкий')
INSERT [dbo].[LevelNPC] ([id_level_NPC], [Title]) VALUES (2, N'Средний')
INSERT [dbo].[LevelNPC] ([id_level_NPC], [Title]) VALUES (3, N'Тяжёлый')
SET IDENTITY_INSERT [dbo].[LevelNPC] OFF
GO
SET IDENTITY_INSERT [dbo].[PowerCharacters] ON 

INSERT [dbo].[PowerCharacters] ([id_power_characters], [Title]) VALUES (1, N'Огонь')
INSERT [dbo].[PowerCharacters] ([id_power_characters], [Title]) VALUES (2, N'Вода')
INSERT [dbo].[PowerCharacters] ([id_power_characters], [Title]) VALUES (3, N'Воздух')
SET IDENTITY_INSERT [dbo].[PowerCharacters] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusCharacters] ON 

INSERT [dbo].[StatusCharacters] ([id_status_characters], [Title]) VALUES (1, N'Главный герой')
INSERT [dbo].[StatusCharacters] ([id_status_characters], [Title]) VALUES (2, N'Второстепенный')
SET IDENTITY_INSERT [dbo].[StatusCharacters] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeCharacters] ON 

INSERT [dbo].[TypeCharacters] ([id_type_characters], [Title]) VALUES (1, N'Игровой')
INSERT [dbo].[TypeCharacters] ([id_type_characters], [Title]) VALUES (2, N'НПС')
SET IDENTITY_INSERT [dbo].[TypeCharacters] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeWeapon] ON 

INSERT [dbo].[TypeWeapon] ([id_type_weapon], [Title]) VALUES (1, N'Меч')
INSERT [dbo].[TypeWeapon] ([id_type_weapon], [Title]) VALUES (2, N'Лук')
INSERT [dbo].[TypeWeapon] ([id_type_weapon], [Title]) VALUES (3, N'Топор')
SET IDENTITY_INSERT [dbo].[TypeWeapon] OFF
GO
SET IDENTITY_INSERT [dbo].[Weapon] ON 

INSERT [dbo].[Weapon] ([id_weapon], [Name], [Power], [PassiveSkill], [FK_Type]) VALUES (1, N'Клинки Хаоса', 150, N'Создание Фантома', 5)
INSERT [dbo].[Weapon] ([id_weapon], [Name], [Power], [PassiveSkill], [FK_Type]) VALUES (2, N'Очи Истины', 80, N'Увелечение скорости атаки', 4)
INSERT [dbo].[Weapon] ([id_weapon], [Name], [Power], [PassiveSkill], [FK_Type]) VALUES (3, N'Клятвенный Оркус', 120, N'Получение элементальных сфер', 2)
SET IDENTITY_INSERT [dbo].[Weapon] OFF
GO
ALTER TABLE [dbo].[Weapon]  WITH CHECK ADD  CONSTRAINT [FK_Weapon_TypeWeapon] FOREIGN KEY([FK_Type])
REFERENCES [dbo].[TypeWeapon] ([id_type_weapon])
GO
ALTER TABLE [dbo].[Weapon] CHECK CONSTRAINT [FK_Weapon_TypeWeapon]
GO
